.messenger {
  flex: 0.7;
}

.messenger__header {
  background-color: #e5e5ea;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 40px;
}

.messenger__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  width: 50%;
  border-radius: 30px;
  margin: 1rem;
  padding: 8px;
  position: fixed;
  bottom: 10px;
}

.messenger__input > input {
  border: none;
  flex: 1;
  width: 100%;
}

.messenger__input > input:focus {
  outline: none;
}
