.messenger {
  flex: 0.7;
}

.select-contact-message{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.messenger__header {
  background-color: #e5e5ea;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 40px;
}

.messenger__inputContainer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 15px;
  background-color: #fff;
}

.messenger__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66%;
  border: 1px solid;
  border-radius: 30px;
  padding: 7px;
}

.messenger__input > input {
  flex: 1;
  border: none;
  padding: 7px;
}

.messenger__input > input:focus {
  outline: none;
}

.messenger__messagesContainer{
  overflow-y: scroll;
  height: 100vh;
  padding: 30px;
}

.messenger__message {
  width: fit-content;
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 24px;
  position: relative;
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #047afd;
  color: #fff;
}
