.contact {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: 400ms ease-in-out;
}

.contact:hover{
    background-color: #047afd;
    cursor: pointer;
    color: antiquewhite;
}

.contact__details {
  flex: 1;
}

.contact__details > p {
  font-weight: 300;
}

.contact__timestamp {
  font-weight: 300;
}
